<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Campster</p>
            <div class="list-group">
                <li class="list-group-item"><a href="/campgrounds/<%= campground._id %>"><%=campground.name%></a></li>
                <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                <li class="list-group-item list-group-item-info"> <a href="/campgrounds/<%= campground._id %>/bookings">Bookings</a> </li>
                  <% }%>
            </div>
        </div>
        <div class="col-md-9">
          <table class="table table-striped table-bordered table-hover table-responsive box-shadow-table">
            <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>User Name</th>
              <th>User Email</th>
              <th>User Mobile</th>
              <th>User Address</th>
              <th>User CNIC</th>
            </tr>
            </thead>
            <tbody>
            <% var a = 1 %>
            <% campground.bookings.forEach(function(booking){ %>

              <tr>

                <td><b><%= a %></b></td>
                <td><%= booking.author.name %></td>
                <td><%= booking.author.username %></td>
                <td><%= booking.author.mobilenumber %></td>
                <td><%= booking.author.homeaddress %></td>
                <td><%= booking.author.cnicnumber %></td>
                <% a++ %>
              </tr>

            <% }) %>
          </tbody>
          </table>
        </div>
    </div>
</div>

<% include ../partials/footer %>
