<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Campster</p>
            <div class="list-group">
                <li class="list-group-item list-group-item-info"><%=campground.name%></li>
                <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                <li class="list-group-item"> <a href="/campgrounds/<%= campground._id %>/bookings">Bookings</a> </li>
                  <% }%>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">Price: Rs. <%=campground.price%></h4>
                    <h4><a><%=campground.name%></a></h4>
                    <p><%= campground.description %></p>
                    <% if(currentUser){ %>
                    <% var flag = true; %>
                    <% campground.bookings.forEach(function(booking){ %>
                      <% if(booking.author.id.equals(currentUser._id)){ %>
                      <% flag=false; %>
                      <% } %>
                    <% }) %>
                    <% if(!campground.author.id.equals(currentUser._id)) { %>
                      <% if(flag){ %>
                      <form action="/campgrounds/<%= campground._id %>/bookings" method="POST">
                              <button class="pull-right btn btn-xs btn-primary">Booking</button>
                      </form>
                      <% } else { %>
                        <form action="/campgrounds/<%= campground._id %>/bookings" method="POST">
                                <button class="pull-right btn btn-xs btn-success" disabled>Booked</button>
                        </form>
                      <% }%>
                      <% }%>
                    <% }%>
                    <p>
                        <em>Submitted By <%= campground.author.username %></em>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>

                        <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>

                </div>
            </div>
            <div class="well">
                <div class="form-horizontel">
                    <!-- <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a> -->
                    <form class="" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" name="comment[text]" placeholder="Add Comment">

                        </div>
                        <div class="text-right form-group">
                          <button class="btn btn-primary">Submit!</button>
                        </div>
                    </form>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row" style="background-color: white">
                        <div class="col-md-12">
                          <hr style="background-color: white">
                            <strong><%= comment.author.username %></strong>
                            <p>
                                <%= comment.text %>
                            </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning"
                               href="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>/edit">Edit</a>
                            <form id="delete-form" action="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>

                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
